.editorconfig              export-ignore
.gitattributes             export-ignore
phpunit.xml                export-ignore
php.ini-development        export-ignore
wercker.yml                export-ignore
/tests/                    export-ignore
